<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IoT clock</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Righteous" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
        color: white;
        background: white;
    }
    .the_background{
        width: 100%;
        height: 100vh;
        background: black;
    }
    .text-center{
         text-align: center;
    }
    .title {
        font-family: 'Pacifico', cursive;
    }
    /*.time_setter h1{
        font-family: 'Pacifico', cursive;
    }*/
    .form-control {
        background: none;
        color: white;
        font-weight: 900;
        font-size: 4em;
    }
    .time_counter, .wake_up {
        display: none;
    }
    .wake_me_up {
        width: 100%;
        height: 100vh;
        background: white;
        z-index: 999;
        color: black;
        padding-top: 15%;
        text-align: center;
        display: none;
    }
    .wake_me_up h1{
        font-weight: 100;
        font-size: 5em;
        font-family: 'Pacifico', cursive;
    }
    .spin-clock {
        margin-bottom: 20px;
    }

    </style>
</head>

<body>
    <div class="the_background">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-2 col-md-3">
                </div>
                <div class="col-sm-8 col-md-6">
                    <br>
                    <br>
                    <br>
                    <h1>
                        <i class="fa fa-clock-o spin-clock"></i>
                        <br>
                        <span class="time_setter title">Bears' Sunlight Clock</span>
                    </h1>
                    <hr>
                    <form class="time_setter">
                        <h5>What's your name?</h5>
                        <input class="form-control text-center input-name" placeholder="name" type="text">
                        <br>
                        <h5>When do you want to wake up?</h5>
                        <input class="form-control text-center input-time" placeholder="time" type="time">
                        <hr>
                        <h5>Who is going to wake you up?</h5>
                        <input class="form-control text-center input-phone" placeholder="phone" type="phone">
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Set the clock</button>
                    </form>
                    <form class="time_counter">
                        <br>
                        <h3 id="time">connect to the clock ...</h3>
                        <progress class="progress progress-striped2 progress-animated" value="0" max="185"></progress>
                        <br>
                        <button class="btn btn-secondary btn-block" onclick="resetClock()">Reset the clock</button>
                    </form>
                </div>
                <div class="col-sm-2 col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="wake_me_up">
        <h1>Wake up!</h1>
        <br>
        <img class="fa fa-spin" src="/images/sun.png">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>
    <script>
        $(function() {

            var saved_hour = 0;
            var saved_minute = 0;
            var minute = 0;
            var second = 0;
            var over = false
            var currentTime = new Date();
            var currentHour = currentTime.getHours()
            var currentMinute = currentTime.getMinutes()
            var phoneNumber = 0;
            var name = ''

            console.log('currentTime hour: ', currentTime.getHours())
            $('form').submit(function(event) {
                event.preventDefault();
                var time = $('.input-time').val()
                hour = currentHour-Number(time.split(':')[0]),
                minute = Number(time.split(':')[1])-currentMinute,
                totalSecond = 60 * minute + second
                console.log('totalSecond: ' ,totalSecond)
                time = {
                    hour: hour,
                    minute: minute,
                    totalSecond: totalSecond
                }
                console.log('timetimetime: ', time)
                $.ajax({
                  type: "POST",
                  url: "api/setclock",
                  data: time,
                  success: success
                });
                phoneNumber = $('.input-phone').val()
                name = $('.input-name').val()
                console.log('phoneNumber: ', phoneNumber)
                function success(data){
                    $('.time_setter').css('display', 'none')
                    $('.time_counter').css('display', 'block')
                    // setTimeout(function(){
                        // console.log('startCountDown!')
                        startCountDown(data.time)
                    // }, 12000)
                }
            })
            function startCountDown(time){
                $('.spin-clock').addClass('fa-spin');
                function startTimer(duration, display) {
                    var timer = duration, minutes, seconds;
                    $('progress.progress').attr('max', timer)

                    setInterval(function () {
                        if(!over){
                            minutes = parseInt(timer / 60, 10)
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            display.text(minutes + ":" + seconds);
                            if (--timer < 0) {
                                timer = duration;
                            }
                            $('progress.progress').attr('value', totalSeconds-timer)
                            // console.log('totalSeconds: ', totalSeconds)
                            // console.log('timer: ', timer)
                            // console.log('totalSeconds-timer: ', totalSeconds-timer)
                            // console.log('totalSeconds-timer%: ', (totalSeconds-timer)/totalSeconds)
                            if (totalSeconds-timer == 0) {
                                over = true;
                                $('.time_setter').css('display', 'none')
                                $('.time_counter').css('display', 'none')
                                $('.the_background').css('display', 'none')
                                $('.wake_me_up').css('display', 'block')
                                content = {
                                    phoneNumber: phoneNumber,
                                    name: name
                                }
                                $.ajax({
                                  type: "POST",
                                  url: "api/sentMessage",
                                  data: content,
                                  success: successSend
                                });
                                function successSend(){
                                    console.log('successSend: ', successSend)
                                }
                            }
                            if (timer < 30){
                                // console.log('ddddd: ', (timer)/20)
                                $('.the_background').css('opacity', (timer)/30)
                            }
                        }
                    }, 1000);
                }

                var totalSeconds = 60 * minute + second,
                    display = $('#time');
                startTimer(totalSeconds, display);
            }

            function updateTime(){
                $('.time_shower .hour').html(hour)
                $('.time_shower .minute').html(minute)
            }
        });

        function resetClock() {
            location.reload();
        }
    </script>
</body>

</html>
